/*
padding -20
default #E1BEE7
hover   #E0E0E0
pressed #546E7A
 */

QFrame#ImperialAstronomerMainFrameUI {
    border-radius: 5px;
    background-color: #616161;
}

QFrame#ImperialAstronomerRecordListFrameUI {
    border-radius: 5px;
    background-color: #CC616161;
}

QLabel#ImperialAstronomerSummonerProfileIconLabelUI {
    border-radius: 35px;
    background-color: rebeccapurple;
}

QLabel#ImperialAstronomerSummonerNameLabelUI {
    font: 24px "HarmonyOS Sans SC Medium";
    color: #FAFAFA;
}

QLabel#ImperialAstronomerSummonerOtherInfoLabelUI {
    font: 15px "HarmonyOS Sans SC Medium";
    color: #FAFAFA;
}

QGroupBox#ImperialAstronomerLeftGroupBoxUI {
    border: none;
    border-radius: 3px;
    background-color: #CCE0F2F1;
}

QPushButton#ImperialAstronomerExitButtonUI {
    background-color: transparent;
    image: url(:/Images/Imperial.Astronomer.Exit.Button.Default.png);
}

QPushButton#ImperialAstronomerExitButtonUI::hover {
    background-color: transparent;
    image: url(:/Images/Imperial.Astronomer.Exit.Button.Hover.png);
}

QPushButton#ImperialAstronomerExitButtonUI::pressed {
    background-color: transparent;
    image: url(:/Images/Imperial.Astronomer.Exit.Button.Pressed.png);
}

QPushButton#ImperialAstronomerHideLeftGroupBoxButtonUI {
    border-radius: 3px;
    background-color: #CCFFFFFF;
    image: url(:/Images/Imperial.Astronomer.Hide.Left.GroupBox.Button.Default.png);
}

QPushButton#ImperialAstronomerHideLeftGroupBoxButtonUI::hover {
    image: url(:/Images/Imperial.Astronomer.Hide.Left.GroupBox.Button.Hover.png);
}

QPushButton#ImperialAstronomerHideLeftGroupBoxButtonUI::pressed {
    image: url(:/Images/Imperial.Astronomer.Hide.Left.GroupBox.Button.Pressed.png);
}

QCheckBox#ImperialAstronomerRecordListCheckBoxUI::indicator {
    width: 60px;
    height: 60px;
    subcontrol-position: center;
    image: url(:/Images/Imperial.Astronomer.Record.List.CheckBox.Default.png);
}

QCheckBox#ImperialAstronomerRecordListCheckBoxUI::indicator:hover {
    image: url(:/Images/Imperial.Astronomer.Record.List.CheckBox.Hover.png);
}

QCheckBox#ImperialAstronomerRecordListCheckBoxUI::indicator::pressed {
    image: url(:/Images/Imperial.Astronomer.Record.List.CheckBox.Pressed.png);
}

QCheckBox#ImperialAstronomerRecordListCheckBoxUI::indicator::checked {
    image: url(:/Images/Imperial.Astronomer.Record.List.CheckBox.Pressed.png);
}

QCheckBox#ImperialAstronomerFunctionListCheckBoxUI::indicator {
    width: 60px;
    height: 60px;
    subcontrol-position: center;
    image: url(:/Images/Imperial.Astronomer.Function.List.Default.png);
}

QCheckBox#ImperialAstronomerFunctionListCheckBoxUI::indicator:hover {
    image: url(:/Images/Imperial.Astronomer.Function.List.Hover.png);
}

QCheckBox#ImperialAstronomerFunctionListCheckBoxUI::indicator::pressed {
    image: url(:/Images/Imperial.Astronomer.Function.List.Pressed.png);
}

QCheckBox#ImperialAstronomerFunctionListCheckBoxUI::indicator::checked {
    image: url(:/Images/Imperial.Astronomer.Function.List.Pressed.png);
}

QCheckBox#ImperialAstronomerInformationListCheckBoxUI::indicator {
    width: 60px;
    height: 60px;
    subcontrol-position: center;
    image: url(:/Images/Imperial.Astronomer.Information.List.CheckBox.Default.png);
}

QCheckBox#ImperialAstronomerInformationListCheckBoxUI::indicator:hover {
    image: url(:/Images/Imperial.Astronomer.Information.List.CheckBox.Hover.png);
}

QCheckBox#ImperialAstronomerInformationListCheckBoxUI::indicator::pressed {
    image: url(:/Images/Imperial.Astronomer.Information.List.CheckBox.Pressed.png);
}

QCheckBox#ImperialAstronomerInformationListCheckBoxUI::indicator::checked {
    image: url(:/Images/Imperial.Astronomer.Information.List.CheckBox.Pressed.png);
}

QListWidget#ImperialAstronomerSummonerProficiencyListWidgetUI {
    font: 12px "HarmonyOS Sans SC Medium";
    border: none;
    background-color: transparent;
}

QListWidget#ImperialAstronomerSummonerProficiencyListWidgetUI::item {
    border: none;
    border-radius: 2px;
    background-color: #B0BEC5;
}

QListWidget#ImperialAstronomerSummonerProficiencyListWidgetUI::item:hover {
    border-radius: 2px;
    background-color: #8064B5F6;
}

QListWidget#ImperialAstronomerSummonerProficiencyListWidgetUI::item:selected {
    border-radius: 2px;
    background-color: #BDBDBD;
}
